.wrapper {
    position: static;
    display: flex;
    width: 100%;
    align-self: center;
    align-items: center;
    height: 80px;
    background: linear-gradient(0deg, #ffffff, #ffffff), linear-gradient(270deg, #81007f 0%, #5af5e1 100%), #81007f;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.05);

    div {
        display: flex;
        align-items: center;
    }
}

.tempLogo {
    width: 67px;
    height: 34.67px;
    font-family: Noto Sans KR; //(@kwonth211):Todo global font
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    line-height: 26px;
    color: #000000;
    margin-right: 30px;
}
.leftBox {
    margin-right: 50px;
}
.rightBox {
    width: 80%; //....80%?
    justify-content: flex-end;
}
.rightContent {
    width: 300px;
    justify-content: space-around;
}
