.wrapper {
    background: #ffffff;
    border: 1px solid #81007f;
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    // &.middle { todo props size
    //     width: 250px;
    //     height: 40px;
    //     border-radius: 8px;
    // }
}
