@use 'font';
@use 'color';

.container {
  $padding: 30px;
  $padding-bottom: 20px;
  $height: 200px;

  padding: $padding {
    bottom: $padding-bottom;
  }
  width: 100%;
  height: $height;

  position: relative;

  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.12);
  border-radius: 8px;

  .contentsWrapper {
    .title {
      @include font.set(16px, bold);
      display: block;
      margin-bottom: 14px;
    }
    .contents {
      @include font.ellipse(3);
    }

    .readMoreButton {
    }
  }

  .thumbnail {
    display: none;
    width: $height;
    height: $height;

    position: absolute;
    top: 0;
    right: 0;
  }

  &.hasThumbnail {
    $padding-right: $padding + $height;
    padding-right: $padding-right;

    .thumbnail {
      display: block;
    }
    .readMoreButton {
      right: $padding-right;
    }
  }
}
