.wrapper {
    background: #ffffff;
    border: 1px solid #81007f;
    box-sizing: border-box;
    width: 250px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;

    & > input {
        height: 30px;
        border: 0px;
        &:focus {
            border: 0px;
            outline: none;
        }
    }
}
