@use 'font';
@use 'color';

.section {
  &:not(:last-of-type) {
    margin-bottom: 30px;
  }

  .titleCover {
    margin-bottom: 20px;

    .title {
      @include font.set(20px, bold);
      color: color.$primary;
    }
  }

  .contents {
    display: flex;

    .column {
      flex: 1 1 auto;
      min-width: 0;
      flex-direction: column;

      &:not(:last-of-type) {
        margin-right: 14px;
      }
    }
  }
}
