.main {
  padding: {
    top: 55px;
  }
  &.right {
      margin-left: 70px;
      flex: 1 1 30%;
      max-width: 295px;
      height: 500px;
      background: red;
    }
}

.mostViewWrapper {
  display: flex;
}
