@use 'font';
@use 'color';

.wrapper {
  $border: 1px solid #eeeeee;

  padding: {
    top: 20px;
    bottom: 20px;
    left: 24px;
  }

  position: relative;
  border-top: $border;

  &:last-of-type {
    border-bottom: $border;
  }

  .title,
  .desc {
    @include font.ellipse;
    margin-bottom: 14px;
  }

  .number {
    width: 24px;

    position: absolute;
    top: 16px;
    left: 0;

    color: color.$primary;
    font-size: 16px;
    text-align: center;
  }

  .title {
    @include font.set(14px, bold);
    color: color.$black;
  }

  .desc {
    @include font.set(13px);
    color: color.$light-grey;
  }

  .countCover {
    .count {
      @include font.set(12px);
      color: color.$light-grey;

      &:not(:last-of-type) {
        margin-right: 10px;
      }

      & > .view {
        ::before {
          content: ""; // view count icon
        }
      }

      & > .like {
        ::before {
          content: ""; // like count icon
        }
      }
    }
  }
}

.column {
  min-width: 0;
  margin: {
    right: 25px;
    bottom: 25px;
  }
  &.left {
    flex: 1 1 70%;
  }
  .section {
    .titleCover {
      margin-bottom: 20px;
    }
    .contents {
      display: flex;

      .sectionColumn {
        flex: 1 1 50%;
        min-width: 0;
        flex-direction: column;

        &:not(:last-of-type) {
          margin-right: 14px;
        }
      }
    }
  }
}

