.wrapper {
    width: 87px;
    height: 26px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;

    .title {
        font-size: 12px;
        line-height: 24px;
        justify-content: center;
        display: flex;
        color: #333333;

    }
}